header {
    background-color: #6f90a4;
    color: #b5e6e4;
    padding: 2px;
    text-align: center;
}

.botones-derecha {
   text-align:right;
     
}


nav ul {
    list-style: none;
    background-color: #6f90a4;
    text-align: center;
    padding: 10px 0;
    margin: 0;

}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    display: inline-block;

}
nav ul li a:hover {
    background-color:#b5e6e4;
    touch-action:pinch-zoom;
    text-decoration:underline;
}


.galeria {
    display: flex; 
    justify-content: space-between; 
}


.foto {
    width: 30%; 
    text-align: center; 
}


.foto img {
    width: 80%; 
    height: auto; 
}


.pie {
    color: white; 
    padding: 10px; 
    margin-bottom: 10px; 
}

.pie a {
    display: block; 
    background-color: #c3eded; 
    color: rgb(84, 101, 235); 
    padding: 10px; 
    margin-bottom: 10px; 
    text-decoration: none; 
}



footer {
    color: rgb(64, 64, 64);
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: left;
}